extends layout

block content
	div.container
	h2 Dataset Search 
	table.table(class="#{type}").width800 
		tbody
			each item in hits
				tr
					td(colspan=6) TASK
				tr
					td TaskID
					td= item._source.taskid
					td TaskName
					td= item._source.taskname
					td ''
					td ''
				tr 
					td TaskStatus
					td= item._source.status
					td description
					td= item._source.description
					td ''
					td ''
				tr
					td TaskTimestamp
					td= item._source.task_timestamp
					td Start Time
					td= item._source.start_time
					td End Time
					td= item._source.end_time
				tr
					td(colspan=4) DATASETS
				tr
					td Input Datasets
					td= item._source.input_datasets
				tr
					td Output Datasets
					td= item._source.output_datasets
				
				tr 
					td PhysGroup
					td= item._source.phys_group
				tr
					td PhysCategory
					td= item._source.phys_category
				tr
					td Campaign:Subcampaign
					td= item._source.campaign
				tr
					td Hashtags
					td= item._source.hashtag_list
				tr
					td StepName
					td= item._source.step_name
				tr
					td ProjectName
					td= item._source.project
				tr
					td architecture
					td= item._source.architecture
				tr
					td conditions_tags
					td= item._source.conditions_tags
				tr
					td geometry_version
					td= item._source.geometry_version
				tr
					td trans_path
					td= item._source.trans_path
				tr
					td trans_home
					td= item._source.trans_home
				tr
					td trigger_config
					td= item._source.trigger_config	
				tr
					td run_number
					td= item._source.run_number	
				tr
					td ticket_id
					td= item._source.ticket_id	
				tr
					td ''
					td ''