extends layout

block content
	div.container
	h2 Dataset Search 
	h3= search_query
	each item in hits
		div(id="taskname_"+item._source.taskid, class="taskname" onclick="showStuff("+item._source.taskid+")")= item._source.taskname
		div(id="total_"+item._source.taskid, class="total")
			table.table(border="1", class="table-datasets", style="width=800")
				tbody
						tr
							th(colspan=2, style="background-color: rgb(124,112,107); text-align: center;") TASK
							th(colspan=2, style="width:50%; background-color: rgb(209,213,216); text-align: center;") EXPERIMENT
							th(colspan=2, style="background-color: rgb(243,121,52); text-align: center;") CONFIGURATION
						tr
							th taskID 
							td= item._source.taskid
							th Campaign
							td= item._source.campaign
							th Step Name
							td= item._source.step_name
						tr
							th taskName
							td= item._source.taskname
							th Subcampaign
							td= item._source.subcampaign	
							th ticket_id
							td= item._source.ticket_id
						tr
							th status
							td= item._source.status
							th Project
							td= item._source.project
							th Architecture
							td= item._source.architecture
						tr
							th Description
							td= item._source.description
							th Energy
							td= item._source.energy	
							th Core Number
							td= item._source.core_number	
						tr
							th timestamp
							td= item._source.task_timestamp	
							th Physics Group
							td= item._source.phys_group
							th ATLAS Geometry
							td= item._source.geometry_version	
						tr
							th start time
							td= item._source.start_time
							th Physics Category
							td= item._source.phys_category
							th Conditions Tags
							td= item._source.conditions_tags
						tr
							th end time
							td= item._source.end_time
							th Hashtags
							td
								each hashtag in item._source.hashtag_list
									ul
										li= hashtag
							th trigger_config
							td= item._source.trigger_config	
						tr
							th Duration
							td= item._source.duration
							th 
							td
							th trans_path
							td= item._source.trans_path
						tr
							th(colspan=2)
								ul
									li EVENTS Requested / Processed / Done(%)
									li= (item._source.requested_events + ' / ' +item._source.processed_events + ' / ' + Math.round((item._source.processed_events * 100) / item._source.requested_events)) + '%'
							th
							td
							th trans_path
							td= item._source.trans_home
						tr
							th
							td
							th
							td
							th run_number
							td(colspan=3)= item._source.run_number	
						tr
							th(colspan=8, style="background-color: rgb(44,130,201); text-align: center;") DATASETS	
						tr
							th Input Datasets
							td(colspan=7)
								each dataset in item._source.input_datasets
									ul
										li= dataset
						tr
							th Output Datasets
							td(colspan=7)
								each dataset in item._source.output_datasets
									ul 
										li= dataset
						
			br