extends layout

block content
	div.container
	h2 Events Summary Report for MC16 Campaign
		each category, i in aggs.buckets
			tr 
				h3= category.key
				table.table(class="#{type}").width400 
					thead
						th Step
						th Requested/Processed
						th Done(%)
					tbody
						each step, j in category.step.buckets 
							tr
								td= step.key
								td #{step.processed.value} / #{step.requested.value}
								td= (step.processed.value * 100 / step.requested.value).toFixed()
			


